.container {
  position: relative;
  height: 100vh;

  &__black {
    position: absolute;
    inset: 0;
    background-color: gray;
    opacity: 0.7;
  }

  &__main {
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 2;
    text-align: left;
    align-items: flex-start;
    padding: 2rem;
    padding-right: 4rem;

    @media (min-width: 640px) {
      text-align: left;
      padding-top: 7rem;
      padding-inline: 5rem;
    }

    @media (min-width: 850px) {
      font-size: 18px;
    }
  }

  &__footer {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}